*{
    margin: 0;
    padding: 0;
}
#nav{
    background-attachment: scroll;
    position: relative;
    top:40vh;
    float: left;
    border-top-right-radius: 160px;
    border-bottom-right-radius: 160px;
    background-color: rgba(240, 102, 23, 0.96);
    text-align: center;
    color: white;
    size: 48px;
    height: 160px;
    width: 0px;
    z-index: 5;
    overflow: hidden;
    -webkit-transition-duration: 0.6s;
}

.nav-box{
    position: relative;
    height: 5px;
    width:  50px;
    background-color: white;
    top: 62px;
    left:8px;
    margin-bottom: 10px;
}



#nav-text{
    font-family: 'Syncopate', sans-serif;
    font-weight: 700;
    font-size: 30px;
    top: 3px;
    position: relative;
}

#tcontainer{
    
    height: 100vh;
    overflow: hidden;
    background-image: url("../img/top-container-bg.jpeg");
    background-attachment: fixed; 
    background-size: cover;
}


.polygon{
    z-index: 10;
    position: absolute;
}

#bottom-left-poly{
    bottom:0px;
    /* width: 800px; */
}
#top-right-poly{
    right:0px;
}


.trapezoid {
    z-index: 20;
    position: absolute;
    right: 50px;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    width: 450px;
    height: 0;
    border: 50px solid rgba(0,0,0,0);
    border-bottom: 0 solid;
    border-top: 120px solid #1abc9c;
    font: normal 100%/normal Arial, Helvetica, sans-serif;
    color: rgba(0,0,0,1);
    font-size: 64PX;
    font-family: 'Syncopate', sans-serif;
    font-weight: 700;
  }
  .trapezoid-inverted {
    z-index: 19;
    position: absolute;
    right: 0;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    width: 550px;
    height: 0;
    border: 50px solid rgba(0,0,0,0);
    border-top: 0 solid;
    border-bottom: 40px solid #076d59;
    color: rgba(0,0,0,1);
  }

  #about,#about-inverted{
    top: 94vh;
  }

  #usecase{
    z-index: 30;
    border-top: 120px solid #383131;
    /* border-color: ; */
  }

  .tab{
      position: absolute;
      height: auto;
      width: auto;
      right:0px;    
  }

#usecase-title{
    z-index: 30;
    right: 8rem;
}
#row1{
    height: 100vh;
    /* background: rgba(61, 51, 51, 1); */
     background-image: linear-gradient(to top,#383131,#000000); 
    /* box-shadow: inset 0px -10px 10px #ffffff; */
    background-attachment: fixed;    
}

#row1-col1{
    text-align: center;
}

#title{
    /* position: absolute; */
    font-family: 'Syncopate', sans-serif;
    font-weight: 700;
    padding-top: 40vh;
    color: white;
    font-size: 90px;
    opacity: 0;
}

#app{
    padding-top: 20%;
    color: white;
    size: 100px;
}

.heading-space{
    margin: 0 8rem 10rem 8rem;
    text-align: center;
}

.title{
    padding: 8rem 10rem 3rem 10rem;
    font-family: 'Syncopate', sans-serif;
    font-weight: 700;
    
}

#heading-space-title{
    top:101vh;
    right:12vw;
}

#heading-space-para{
    color: rgba(240, 102, 23, 0.6);
    text-align: justify;
}

#content-container{
    background: #efefef;
    overflow: hidden;
    padding-bottom: 10rem; 
    /* background-image: linear-gradient( to bottom, rgba(61, 51, 51, 1), rgba(102,102,102,1) );   */
    /* background-image: linear-gradient(to top, #2f2f2f,#000000); */
}

.content-container-row{
    height: 20rem;
    margin: 20px 20px 20px 20px;
}

.content-row-col{
    margin: 0;
    height: 100%;
    width: auto;
    /* background-image: url("../img/client-servicing.jpg"); */
    /* background-attachment: fixed; */
    background-size: cover;
}

#card1, #card2b, #card3{
    width:60%;
}
#tcard1, #tcard2b, #tcard3{
    width: 25rem;
}
#card1b, #card2, #card3b{
    width: 35%;
}

#tcard1b, #tcard2, #tcard3b{
    width: 20rem;
}

.cards:nth-child(even){
    align-content: right;
}

.cards{
    float: left;
    overflow: hidden;
    /* position: relative; */
    /* background: cyan; */
    margin  : 10px 5px 10px 5px;
    padding: 20px 0px 20px 0px;
    height: 100%;
}

.text-card{
    margin: 0 0 0 1rem;
    padding: 10px 10px 10px 10px ;
    background: rgba(255, 255, 255, 0.8);
    color: black;   
    box-shadow: 2px 2px 10px #666666;
    -webkit-transition: 0.6s;
}

.text-card:hover {
    box-shadow: 2px 2px 30px #666666;
}
#card1{
    background-image: url("../img/container-image-1.jpg");
    background-size: cover;
}

#card1b{
    background-image: url("../img/container-image-2.jpg");
    background-size: cover;
}

#card2{
    background-image: url("../img/container-image-3.jpg");
    background-size: cover;
}

#card2b{
    background-image: url("../img/container-image-4.jpg");
    background-size: cover;
}

#card3{
    background-image: url("../img/container-image-5.jpg");
    background-size: cover;
}

#card3b{
    background-image: url("../img/container-image-6.jpg");
    background-size: cover;
}

#content-row0{
    margin: 0px;
    height: auto;
}

.usecase-container{
    margin: 0;
    background:rgba(240, 102, 23, 1);
    text-align: center;
    height: 100vh;    
    /* box-shadow: inset 21px 21px 100px #000000; */
}

#usecase-title{
    color: white;
    padding-top: 3rem;
}