
#nav{
    background-attachment: scroll;
    position: relative;
    top:180px;
    float: left;
    border-top-right-radius: 160px;
    border-bottom-right-radius: 160px;
    background-color: rgba(240, 102, 23, 0.96);
    text-align: center;
    color: white;
    size: 48px;
    height: 160px;
    width: 0px;
    z-index: 5;
    overflow: hidden;
    opacity: 0.6;
    -webkit-transition-duration: 0.6s;
}

.nav-box{
    position: relative;
    height: 5px;
    width:  50px;
    background-color: white;
    top: 62px;
    left:8px;
    margin-bottom: 10px;
}

#nav:hover{
    opacity: 1;
}

#nav-text{
    font-family: 'Syncopate', sans-serif;
    font-weight: 700;
    font-size: 30px;
    top: 3px;
    position: relative;
}

#tcontainer{
    height: 550px;
    overflow: hidden;
    background-image: url("../img/top-container-bg.jpeg");
    background-attachment: fixed; 
    background-size: cover;
}

.polygon{
    z-index: 100;
    position: absolute;
}

#bottom-left-poly{
    top:150px;
    /* width: 800px; */
}
#top-right-poly{
    right:0px;
}

#row1{
    height: 550px;
    background: rgba(61, 51, 51, 1);
    /* background-image: linear-gradient(to bottom,rgba(251,199,120,0.01),rgba(245,118,60,0.04)); */
    background-attachment: fixed;    
}

#row1-col1{
    text-align: center;
}

#title{
    /* position: absolute; */
    font-family: 'Syncopate', sans-serif;
    font-weight: 700;
    padding-top: 200px;
    color: white;
    font-size: 90px;
    opacity: 0;
}

#app{
    padding-top: 20%;
    color: white;
    size: 100px;
}

.heading-space{
    
    margin: 0rem 10rem 0rem 10rem;
    text-align: center;
}

#heading-space-title{
    padding-top: 5vh; 
    font-size: 64PX;
    font-family: 'Syncopate', sans-serif;
    font-weight: 700;
}

#heading-space-para{
    color: orange;
    text-align: justify;
}

#content-container{
    background: white;
    margin: auto;
    /* background-image: linear-gradient(to top, #2f2f2f,#000000); */
}

.content-container-row{
    height: 50vh;
    margin: 20px 20px 20px 20px;
}

.content-row-col{
    height: 100%;
    width: auto;
    /* background-image: url("../img/client-servicing.jpg"); */
    /* background-attachment: fixed; */
    background-size: cover;
}

#card1, #card2b, #card3{
    width:60%;
    background: yellow;
}
#tcard1, #tcard2b, #tcard3{
    width: 25rem;
}
#card1b, #card2, #card3b{
    width: 35%;
    background: red;
}

#tcard1b, #tcard2, #tcard3b{
    width: 20rem;
}

.cards{
    float: left;
    overflow: hidden;
    position: relative;
    /* background: cyan; */
    margin  : 10px 5px 0px 5px;
    padding: 20px 0px 20px 0px;
    height: 100%;
}

.text-card{
    margin: 0 0 0 1rem;
    padding: 10px 10px 10px 10px ;
    background: rgba(255, 255, 255, 0.8);
    color: black;
}
#content-row0{
    height: auto;
}