*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
#nav-wrapper{
    z-index: 250;
}
#nav{
    background-attachment: scroll;
    position: fixed;
    top:40vh;
    float: left;
    border-top-right-radius: 160px;
    border-bottom-right-radius: 160px;
    background-color: rgba(240, 102, 23, 0.96);
    text-align: center;
    color: white;
    size: 48px;
    z-index: 200;
    height: 160px;
    width: 0px;
    overflow: hidden;
    -webkit-transition-duration: 0.6s;
    cursor: pointer;
    transition: all 0.3s;
}

#nav:active{
    background-color: white; 
}

#nav:active > .nav-box{
    background-color: rgba(240, 102, 23, 0.96) ; 
}

.nav-box{
    z-index: 200;
    position: fixed;
    position: relative;
    height: 5px;
    width:  50px;
    background-color: white;
    top: 62px;
    left:8px;
    margin-bottom: 10px;
}



#nav-text{
    font-family: 'Syncopate', sans-serif;
    font-weight: 700;
    font-size: 30px;
    top: 3px;
    position: relative;
}

i{
    padding: 10px;
    padding-right: 3px;
    display: block;
    font-size: 25px;
}
.nav-button{
    overflow: hidden;
    height: 50px;
    width: 50px;
    background-color:  rgba(240, 102, 23, 0.96);
    border-radius: 100%;
    position: fixed;
    display: none;
    -webkit-transition: 0.8s ease-in-out;
    /* overflow: hidden; */
    margin: auto;
    z-index: 200;
}

#home-btn{
    top:32vh;
    left: 5px;
}

#use-btn{
    left: 5px;
    top: 64vh;
}

#gallery-btn{
    top: 55vh;
    left: 84px;
}

#about-btn{
    left: 84px;
    top: 40vh;
}


#tcontainer{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-image: url("../img/top-container-bg.jpeg");
    background-attachment: fixed; 
    background-size: cover;
}


.polygon{
    z-index: 10;
    position: absolute;
}

#bottom-left-poly{
    bottom:0px;
    /* width: 800px; */
}
#top-right-poly{
    right:0px;
}

.particle-network-animation {
    position: fixed;
    z-index: 30;
	top: 0;
	left: 0;
	right: 0;
	height: 100vh;
	background-color: #171717;
  
&::before {
    z-index: -2;
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    /* // background-image: url(http://web.frfr.me/dev/world-map-optimized.jpg);
    background-image: url(https://images.unsplash.com/photo-1450849608880-6f787542c88a?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=786a67dca1d8791d181bfd90b16240d9);
    background-position: center center; */
  background-size: cover;
    opacity: 0.2;
  }
}
.glow {
  z-index: -1;
  position: fixed;
  top: 50%;
  left: 50%;
  background-image: radial-gradient(circle closest-side, rgba(255, 255, 255, 0.025), transparent);
}
$duration: 25s;
.glow-1 {
  width: 150vw;
  height: 150vh;
  margin-top: -75vh;
  margin-left: -75vw;
  animation: glow-1-move $duration linear infinite both;
}
@keyframes glow-1-move {
  from {
    transform: translate(-100%, 100%);
  }
  to {
    transform: translate(100%, -100%);
  }
}
.glow-2 {
  width: 100vw;
  height: 100vh;
  margin-top: -50vh;
  margin-left: -50vw;
  animation: glow-2-move $duration linear $duration / 3 infinite both;
}
@keyframes glow-2-move {
  from {
    transform: translate(-100%, 0%);
  }
  to {
    transform: translate(100%, 100%);
  }
}
.glow-3 {
  width: 120vw;
  height: 120vh;
  margin-top: -60vh;
  margin-left: -60vw;
  animation: glow-3-move $duration linear $duration / 3 * 2 infinite both;
}
@keyframes glow-3-move {
  from {
    transform: translate(100%, 100%);
  }
  to {
    transform: translate(0%, -100%);
  }
}


.trapezoid {
    z-index: 20;
    position: absolute;
    right: 50px;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    width: 450px;
    height: 0;
    border: 50px solid rgba(0,0,0,0);
    border-bottom: 0 solid;
    border-top: 120px solid #1abc9c;
    font: normal 100%/normal Arial, Helvetica, sans-serif;
    color: rgba(0,0,0,1);
    font-size: 64PX;
    font-family: 'Syncopate', sans-serif;
    font-weight: 700;
  }
  .trapezoid-inverted {
    z-index: 19;
    position: absolute;
    right: 0;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    width: 550px;
    height: 0;
    border: 50px solid rgba(0,0,0,0);
    border-top: 0 solid;
    border-bottom: 40px solid #076d59;
    color: rgba(0,0,0,1);
  }

  #about,#about-inverted{
    top: 94vh;
  }

  #usecase{
    z-index: 30;
    border-top: 120px solid #383131;
    /* border-color: ; */
  }

  .tab{
      position: absolute;
      height: auto;
      width: auto;
      right:0px;    
  }

#usecase-title{
    z-index: 30;
    right: 8rem;
}
#row1{
    height: 100vh;
    width: 100%;
    background: rgba(0 , 0, 0, 0.6);
     /* background-image: linear-gradient(to top,#383131,#000000);  */
    /* box-shadow: inset 0px -10px 10px #ffffff; */
    background-attachment: fixed; 
    box-shadow: inset 10px -10px 70px #000000;   
}

#row1-col1{
    text-align: center;
}

#title{
    /* position: absolute; */
    font-family: 'Syncopate', sans-serif;
    font-weight: 700;
    padding-top: 40vh;
    color: white;
    font-size: 90px;
    opacity: 0;
}

#app{
    padding-top: 20%;
    color: white;
    size: 100px;
}

.heading-space{
    margin: auto;
    text-align: center;
}

.title{
    padding: 8rem 10rem 3rem 10rem;
    font-family: 'Syncopate', sans-serif;
    font-weight: 700;
    
}


#heading-space-para{
    font-family: 'Quicksand', sans-serif;
    padding-left:10%;
    padding-right:10%;
    padding-bottom: 15%;
    color: rgba(240, 102, 23, 0.6);
    text-align: justify;
}

#content-container{
    background: #303030;
    overflow: hidden;
    padding-bottom: 10rem; 
    box-shadow: inset 10px -10px 70px #000000;
    /* background-image: linear-gradient( to bottom, rgba(61, 51, 51, 1), rgba(102,102,102,1) );   */
    /* background-image: linear-gradient(to top, #2f2f2f,#000000); */
}

.content-container-row{
    height: 35rem;
    margin: 20px 100px 20px 100px;
}

.content-row-col{
    height: 100%;
    width: auto;
    /* background-image: url("../img/client-servicing.jpg"); */
    /* background-attachment: fixed; */
    background-size: cover;
}



.cards:nth-child(even){margin-left:10px;
}

.cards{
    float: left;
    overflow: hidden;
    display: block;
    padding-left:10%;
    padding-right:10%;
    /* position: relative; */
    /* background: cyan; */
    height: 100%;
    width:95%;
}

.text-card{
    width:85%;
    margin: 15px 0 0 10px;
    padding: 10px 10px 10px 10px ;
    background: rgba(255, 255, 255, 0.8);
    color: black;   
    box-shadow: 2px 2px 10px #666666;
    -webkit-transition: 0.6s;
}

#tcard2{
    margin-right: 15px;
    float: right;
}


.text-card:hover {
    box-shadow: 2px 2px 30px #666666;
}
#card1{
    background-image: url("../img/container-image-1.jpg");
    background-size: cover;
}

#card1b{
    background-image: url("../img/container-image-2.jpg");
    background-size: cover;
}

#card2{
    background-image: url("../img/container-image-3.jpg");
    background-size: cover;
}

#card2b{
    background-image: url("../img/container-image-4.jpg");
    background-size: cover;
}

#card3{
    background-image: url("../img/container-image-5.jpg");
    background-size: cover;
}

#card3b{
    background-image: url("../img/container-image-6.jpg");
    background-size: cover;
}

.text-heading{
    font-size: 2rem;
    font-family: 'Cinzel', serif;
    font-weight: 700;
}

.text-para{
    font-family: 'Quicksand', sans-serif;
}

#content-row0{
    box-shadow: inset 10px -10px 100px #000000;
    margin: 0px;
    height: auto;
}

.usecase-container{
    margin: auto;
    background:#white;
    box-shadow: inset 10px -10px 70px #000000;  
    height: 100vh;
    overflow: auto;
}

#usecase-wrapper{
    overflow: hidden;
    height: 100vh;
    margin: auto;
    padding: 00px 100px 70px 100px;
    background:  #ff7f00;
    width: 80%;
    box-shadow: 10px -10px 70px #000000;
}



#usecase-title{
    position: absolute;
    color: white;
    padding-top: 3rem;
    right: 12rem;
}

#usecase-vector{
}

#usecase-svg{
    height: auto;
    width: auto;
    margin: auto;
    display: block;
    padding-top: 150px;
}


.primary-node, .secondary-node{
    background-color:rgb(247, 81, 30); 
    z-index:5;
    padding: auto;
    margin: auto;
    position: absolute;
    border-radius: 100%;
    border-color: #ffffff;
    border-style: solid;
    border-width: 8px; 
    color: white;
}

text{
    font-family: 'Syncopate', sans-serif;
    font-weight: 700;
}


.node-title,.secondary-node-title{
    position: relative;
    font-family: 'Syncopate', sans-serif;
    font-weight: 700;
}

#zenith{
    height: 200px;
    width: 200px;
    top:40vh;
    right: 42vw;
}
#zenith-label{
    top:74px;
    font-size: 30px;
}

.secondary-node{
    height: 150px;
    width: 150px;
}

.secondary-node-title{
    top: 55px;
    font: 20px;
}

#health{
    top:20vh;
    right:300px;
}

#health-label{
    top: 45px;
}

#insure{
    top:70vh;
    right:350px;
}

#tel{
    right: 1000px;
}

#bank{
    right:1090px;
    top:60vh;
}

.connect{
    position: absolute;
    width: 300px;
    color: white;
    border-width: 4px;
    border-style: solid;
    border-color: white;
}

#z-to-t{
    top:42vh;
    right:720px;
    transform: rotate(22deg);
}

#z-to-b{
    width: 400px;
    top:58vh;
    right:720px;
    transform: rotate(-16deg);
}

#footer{
    height: 250px;
    width: 100%;
    background: #303030;
}

hr{
    padding-top: 10px;
    color:white;
    width: 90%; 
}


#mu-footer {
    overflow: hidden;
    height:120px;
	background-color: #303030;
	display: inline;
	float: left;
	width: 100%;
}

.mu-footer-area{
	display: inline;
	float: left;
	padding: 30px 0;
	text-align: center;
	width: 100%;
}

.mu-footer-top {
	display: inline;
	float: left;
	width: 100%;
}

.mu-social-media {
	display: inline;
	float: left;
	padding: 10px 0;
	width: 100%;
}

.mu-social-media a {
	border: 1px solid #19191a;
	border-radius: 50px;
	color: #19191a;
	display: inline-block;
	font-size: 8px;
	margin-right: 8px;
	text-align: center;
	text-decoration: none;
	transition: all 0.2s ease-in-out 0s;
	width: 45px;
	height: 45px;
    line-height: 35px;
    overflow: hidden;
}

.mu-footer-bottom {
	display: inline;
	float: left;
	width: 100%;
}

.mu-copy-right {
	margin-bottom: 0;
}

.mu-copy-right a {
	font-weight: 600;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}


.mu-developer-area {
	background-color: rgba(0,0,0,0.84);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	padding: 12% 0;
	text-align: center;
	z-index: 9999;
	display: none;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}
.mu-developer-area a{
	color: #ffffff;
	border-color: #ffffff;
}

.mu-developer-area a: hover{
	color: #ff0000;
	border-color: #ff0000;
}

.mu-developer-info a{
	color: #ffffff;
	border-color: #ffffff;
}

.mu-developer-info a: hover{
	color: #ff0000;
	border-color: #ff0000;
}

.mu-developer-display {
	display: block;
}

.mu-developer-close-btn {
	border-radius: 50%;
	color: #fff;
	font-size: 18px;
	border: 2px solid #fff;
	position: absolute;
	top: 0;
	right: 15%;
	display: inline-block;
	height: 50px;
	line-height: 45px;
	text-align: center;
	margin-top: 100px;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
	width: 50px;
}
.mu-developer-area h1{
	font-family: lemonmilkregular;
	color: #ffffff;
}
.mu-developer-segment{
	float: left;
	width: 50%;
	color: #ffffff;
	align-content: center;
	text-align: center;
	margin-top: 3%;
}

.mu-developer-segment img{
	height: 200px;
	width: 200px;
	margin: 2% 2% 2% 2%;
	border-radius: 50%;
	border: #fff 1.2px solid;
	-webkit-transition: all 1s;
			transition: all 1s;

}
.mu-developer-segment img:hover {
	border: #f00 5px solid;
}

.mu-developer-segment h3{
	font-family: comfortaaregular;
	font-size: 30px;
	color: #ff2020;
}

.mu-developer-segment p{
	font-family: latothin;
	font-size: 24px;
}

/*/////////////////Reponsive////////////////////*/


@media (max-width: 1199px) {

    .title{
        font-size: 2rem;
    }
    #heading-space-title{
        top:94vh;
        right:8vw;
    }

    .content-container-row{
        height: 20rem;
        margin: 20px 10px 20px 100px;
    }

    #usecase-wrapper{
        overflow: hidden;
        height: 70vh;
        margin: auto;
        padding-bottom: 20px;
        background:  #ff7f00;
        width: 80%;
        box-shadow: 10px -10px 70px #000000;
    }

    #usecase-title{
        z-index: 30;
        right: 2rem;
    }
    .usecase-container{
        margin: auto;
        background:#white;
        box-shadow: inset 10px -10px 70px #000000;  
        height: 70vh;
        overflow: auto;
    }
    #usecase-svg{
        padding-top: 100px;
    }
}



@media (max-width: 991px) {	
    .content-container-row{
        height: 15rem;
        margin: 20px 10px 20px 100px;
    }
    .usecase-container{ 
        height: 62vh;
    }
    #usecase-wrapper{
        margin: auto;
        padding: 10px 95px 10px 70px;
    }

}

@media (max-width: 767px) {
    #usecase-wrapper{
    width: 85%;
    padding-left: 10%;
    }
    .text-heading,.title{
        font-size: 1.4rem;
    }
    .mu-footer-area{
        overflow: hidden;
        height: 120px;
    }
    #usecase-wrapper{
        margin: auto;
        padding: 10px 65px 10px 50px;
    }
}

@media (max-width: 640px){
    
    #usecase-wrapper{
        width: 85%;
        padding-left: 10%;
        height: 50vh;
        }
    .usecase-container{ 
        height: 50vh;
    }
    .cards{
        padding-right:10px;
        float: none;
    }
    .text-card{
        margin: 1rem 0 0 0.5rem;
    }

    #title{
        
        font-size: 4rem;
    }
    
    .text-heading.title{
        font-size: 1.4rem;
    }
    #nav{
        border-top-right-radius: 60px;
        border-bottom-right-radius: 60px;
        height: 60px;
        width: 0px;
        
    }
    .nav-button{
        height: 30px;
        width: 30px;
    }
    i{
        font-size: 1rem;
        padding-top: 6px;
        padding-left: 6px;
    }
    #home-btn{
        top:34vh;
        left: 5px;
    }
    
    #use-btn{
        left: 5px;
        top: 51vh;
    }
    
    #gallery-btn{
        top: 49vh;
        left: 60px;
    }
    
    #about-btn{
        left: 60px;
        top: 35vh;
    }
    .content-container-row{
        margin-left: 10px;
    }
    #gallery-title{
        padding-left: 10%;
        /* left:1vw; */
    }
    .nav-box{
        z-index: 200;
        height: 5px;
        width:  50px;
        background-color: white;
        top: 18px;
        left:8px;
        margin-bottom: 5px;
    }
    #usecase-title{
        padding-top: 4%;
        padding-bottom: 0%;
    }

    #usecase-wrapper{
        margin: auto;
        padding: 0px 65px 10px 40px;
    }

}

@media (max-width: 480px){
    #heading-space-title{
        width:100%
    }
    #usecase-wrapper{
        padding: 0 0 0 0;
        padding-bottom: 10%;
    }
    #usecase-title{
        padding-top:8%;
        padding-right:30px;
    }
    #content-container{
        padding-bottom: 10%;
    }
    
}

@media (max-width: 360px){
    #heading-space-title{
        width:100%;
    }
    .text-heading{
        font-size: 0.5rem;
    }
    .text-para{
        font-size: 0.4rem;
    }
    #title{
        font-size: 2rem;
    }

    }
}